.odd {
  background-color: rgb(247, 105, 86);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}
#div2 {
  color: rgb(0, 71, 225);
  font-size: 36px;
}
.font24px {
  font-size: 24px;
}
#div4 {
  background-color: rgb(0, 225, 56);
  font-weight: bold;
}
